<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--
    th:action 送信先
    th:object 送信するデータ(Javaクラスに格納される)
-->
<form action="#" th:action="@{/showPage}" th:object="${countryForm}" method="post">

    <!--
        th:field 送信する選択した値(Javaクラスに格納される)
        th:each for文(ListのJavaクラス)
        th:value 送信される値
        th:text 表示される名前
    -->
    <select th:field="*{selectedCountry}">
        <option value="">SELECT</option>
        <option th:each="country : ${countries}"
                th:value="${country.code}"
                th:text="${country.name}">
        </option>
    </select>

    <button type="submit">Submit</button>

</form>

</body>
</html>